<h3>Subscribe deprecado (Angular <= 12) con setInterval</h3>
<p>Mostrar el resultado del Observable: {{numSubscribeDeprecado}}</p>
<p>Este mensaje aparece cuando hay un error: {{errorSubscribeDeprecado || '[No hay error por ahora]'}}</p>
<p>this.complete: {{completeSubscribeDeprecado}}</p>
<button (click)="toCompleteSubscribeDeprecado()">Complete</button>
<button (click)="toErrorSubscribeDeprecado()">Error</button>
<button (click)="reiniciarSubscribeDeprecado()">Reiniciar</button>
<hr>
<h3>Subscribe actual (Angular >= 13) con setInterval</h3>
<p>Mostrar el resultado del Observable: {{numSubscribeActual}}</p>
<p>Este mensaje aparece cuando hay un error: {{errorSubscribeActual || '[No hay error por ahora]'}}</p>
<p>this.complete: {{completeSubscribeActual}}</p>
<button (click)="toCompleteSubscribeActual()">Complete</button>
<button (click)="toErrorSubscribeActual()">Error</button>
<button (click)="reiniciarSubscribeActual()">Reiniciar</button>
<hr>
<h3>RxJS interval</h3>
<p>Resultado de RxJS interval: {{myActualInterval}}</p>
<hr>
<h3>RxJS interval con pipe & filter</h3>
<p>Resultado de RxJS interval con pipe & filter: {{myActualIntervalPipeFilter}}</p>
<hr>
<h3>RxJS interval con pipe & take & filter</h3>
<p>Resultado de RxJS interval con pipe & filter: {{myActualIntervalPipeTakeFilter}}</p>
<hr>
<h3>RxJS interval con pipe & filter & take</h3>
<p>Resultado de RxJS interval con pipe & filter: {{myActualIntervalPipeFilterTake}}</p>
